*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(205deg, #DCDCDC, #AFEEEE);
}
a{
    color: black;
    text-decoration: none;
}
body{
    min-height: 100%;
    width: 100%;
    font-family:'Open Sans', sans-serif ;
    font-size: 1.2em;
    
}
.borderkbir{
    width: 95%;
    margin: 0px 2.5%;
    border: 2px solid rgba(122, 122, 122, 0.6);
    border-radius: 1em;
    border-top: none;background-image: linear-gradient(130deg, #DCDCDC, #AFEEEE);
    margin-bottom: 50px;
}
#mainhead{
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    box-sizing: border-box;
    background-image: linear-gradient(205deg, rgb(84, 161, 233),#dcdcdc);
}
#head{
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1;
}
#head{
    font-size:1.2em;
}
#para{
    text-align: center;
    flex-basis: 50%;
    font-size: 1em;
    flex-grow: 1;
    align-self: center;
}
#social{
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1;
    align-self: center ;
}
#social i{
    color: black;
    transition: all 500ms;
}
#social i:hover{
    color: #0a30afbd;
}
.fab, .fas{
    font-size: 1.65em;
    width: 10%;
}

#logo{
    margin-top: 10px;
    width: 180px;
    height: 120px;
}
#umbb{
    text-decoration: none;
    color: black;
}
#navbar{
    background-image: linear-gradient(60deg, rgba(84, 161, 233, 0.644),rgba(128, 128, 128, 0.479));
    border-bottom: 2px solid black;
}
#navbar ul{
    list-style: none;
    text-align: center;
}
#navbar li{
    display: inline-block;
    border-left: 2px solid black;
    padding: 8px 20px;
}
#navbar li:nth-child(6){
    border-right: 2px solid black;
}
#navbar li:last-child{
    display: none;
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#slideshow h2{
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
#slideshow{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.slider1{
    overflow: hidden;
}
.slider1 figure{
    position: relative;
    width:500%;
    margin: 0;
    left: 0;
    animation:slide-animation 20s infinite;
}
.slider1 figure img{
    height: 400px;
    width: 20%;
    float: left;
}
#news{
    margin-top: 45px;
    margin-bottom: 45px;
    text-decoration: underline;
    line-height: 2em;
}
#news ul{
    list-style: square;
}
#news li{
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.185) ;
}
#addNews h2{
    text-align: center;
    margin-bottom: 20px;
}
.cell{
    width: 25%;
    margin: 0 15px;
    overflow: hidden;
}
.cell img{
    width: 100%;
    height: 200px;
    
}
@keyframes slide-animation{
    0% {left: 0;}
    20% {left: 0;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
}
.wrapper{
    width: 90%;
    margin: 60px 5% 0 5%;
    text-align: center;
}

#flexuno ul{
    list-style: none;
}
#flexuno ul li::before{
    font-family: 'FontAwesome';
    content: '\f054';
    margin:0 5px 0 -15px;
    color: rgba(0, 0, 0, 0.452);
}
.flex1{
    flex: 1;
    /* flex-basis: 33%; */
    padding: 10px 15px 10px 15px;
    margin: 0 15px;
    
}
.flex1 div{
    margin: 50px 0px;
    border: 2px solid black;
    line-height: 2em;
}
.flex1 a{
    color: black;
    transition: color 300ms;
}
.flex1 a:hover{
    color: #4C8CC2;
}
.flex1 h2{
    font-size: 1.6em;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    background-color: #43a5c677;
}
.flex1 li{
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}
.flex2{
    flex: 2;
    /* flex-basis: 33%; */
    padding: 20px 5px 20px 5px;
    margin: 0 15px;
    /* border: 2px solid black; */
    align-self: flex-start;
}
.flex2 img{
    float: left;
    height: 80px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 0.4em;
    opacity: 0.65;
    transition: all 500ms;
}
.flex2 img:hover{
    opacity: 1;
}
.flex2 button{
    float: right;
    padding: 5px;
    font-size: 0.8em;
}
.flex2 a{
    color: black;
    transition: color 200ms;
}
.flex2 a:hover{
    color:#4C8CC2 ;
}
.flex2 div:first-child{
    margin: 50px 0px;
}
.flex2 div{
    margin: 100px 0px;
}

.flex3{
    flex: 1;
    /* flex-basis: 33%; */
    padding: 10px 5px 10px 5px;
    margin: 0 15px;
}
.flex3 div{
    margin: 50px 0px;
    border: 2px solid black;
    line-height: 2em;
}

.flex3 h2{
    font-size: 1.6em;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    background-color: #43a5c677;
}
.flex3 li{
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}
.flex3 a{
    color: black;
    transition: color 300ms;
}
.flex3 a:hover{
    color: #4C8CC2;
}
.flex3 img{
    height: 40px;
    width: 40px;
    padding-left: 10px;
}
#prefoot{
    width: 90%;
    margin: 0px 5%;
    font-size: 0.95em;
    line-height: 2.5em;
    border: 2px solid rgba(122, 122, 122, 0.6);
    border-radius: 1em;
    padding: 10px 30px;
    box-sizing: border-box;
    /* border-top: none; */
    background-image: linear-gradient(-90deg, #DCDCDC, #AFEEEE);
}
#prefooter ul{
    list-style: none;
}
#prefooter a{
    color: black;
    transition: color 300ms;
}
#prefooter a:hover{
    color: #0300cc8a;
}
#prefooter ul li::before{
    font-family: 'FontAwesome';
    content: '\f054';
    margin:0 5px 0 -15px;
    color: rgba(0, 0, 0, 0.452);
}
.one{
    flex: 1;
}

.two{
    flex: 1;
}
.three{
    flex: 1;
}
.three p{
    font-size: 12px;
}
#footer{
    border-top: 2px solid rgba(0, 0, 0, 0.493);
    margin: 50px 0 0px 0px;
    text-align: center;
    background-image: linear-gradient(230deg, #224563, #AFEEEE);
    font-size: 0.9em;
}
#footer h3{
    padding: 10px 0 5px 0;
}
#footer a{
    color: black;
    transition: color 300ms;
}
#footer a:hover{
    color: #4444FF;
}
#footer ul{
    list-style: none;
}
#footer li{
    display: inline;
}
.copy{
    margin-top: 15px;
    padding-bottom: 8px;
    padding-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.493);
}
@media(max-width:1070px){
    body{
        font-size: 0.9em;
    }
}
@media(max-width:875px){
    body{
        font-size: 0.88em;
    }
    #navbar li{
        display: none;
    }
    #navbar li:nth-child(even){
        display: inline-block;
    }
}
@media(max-width:780px){
    #para{
        display: none;
    }
}
@media(min-width:780px){
    #flexuno{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    #prefooter{
        display: flex;
        flex-wrap: wrap;
    }
}